systemLog:
  destination: file
  path: "/home/prr000/mongod.log"
  logAppend: false  # This ensures the log file is overwritten instead of appended

storage:
  dbPath: "/fs/phenocart-work/prr000/MongoDBData/Data/"

net:
  port: 27018
  bindIp: 127.0.0.1  # Restrict MongoDB to listen only on localhost

security:
  authorization: "enabled"
